<!DOCTYPE html>
<html lang="{{ with .Site.LanguageCode }}{{ . }}{{ else }}en-us{{ end }}">
  {{ partial "head.html" . }}

  <body>
    {{ "<!-- header -->" | safeHTML }}
      {{ partial "navigation.html" . }}
    </header>
      <div class="container">
          <div class="d-flex justify-content-center flex-grow-1 mt-5 mb-5">
            <h1 style="font-size: 100px;"> 404 </h1>
          </div>
          <div class="d-flex justify-content-center flex-grow-1 mt-3 mb-5 text-center">
            <h3 style="font-size: 30px;"> The page you are looking for could not be found.</h3>
          </div>
      </div>
    {{ "<!-- /header -->" | safeHTML }}
    {{ block "main" . }}{{ end }}
    {{ partial "footer.html" . }}
  </body>

</html>
